/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: 0;
    font-weight: 400;
}

html{
    background-color: #fafafa;
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif; 
}

body{
    background-color: #fff;
    width: 120rem;
    max-width: 100%;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0rem 0.1rem #c4c4c4;
}

.text-justify{
    text-align: justify;
}

.text-white {
    color: #fff;
  }
.section-heading {
    font-size: 8rem;
    text-align: center;
    font-family: "Italianno", cursive; 
  }
  .section-center {
    padding: 5rem 1rem;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .btn {
    background-color: #0F6E8C;
    color: white;
    border: none;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #222;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

/* header start here */
.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
div > h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.5px;  
}
div > img{
    width: 30px;
    height: 30px;
    top: 43px;
    left: 186px;
    border-radius: 50%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f8f8;
    /* color: #302d2d; */
    padding: 2rem 1rem;
    position: sticky;
    z-index: 10;
    min-height: 5vh;
}

nav li {
    display: inline-block;
    margin-right: 2rem;
    padding: 1rem;
    transition: all 0.4s;
}
nav li:last-child{
    margin-right: 0;
}
nav li:hover{
    background-color: rgb(240, 213, 168);
    border-radius: 0.6rem;
}
.nav-link{
    font-size: 1rem;
    color: rgb(29, 27, 27);
    cursor: pointer;
}
/* header end here */



/* banner start here */

#blog-banner-section {
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
  }


  .banner-heading {
    display: inline-block;
    padding: 1rem;
    font-weight: 700;
    font-size: 70px;
    line-height: 108px;
    letter-spacing: 2%;
    margin-bottom: 2.5rem; 
  }
.banner-description{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 29px;
    margin-bottom: 29px;
}
.size{
    margin-top: 50px;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 4%;
    color: #8b8c8c;
}
.alink{
   width: 84px; 
   height: 24px;
   top: -0.02px;
   left: -0.02px;
   color: #FF385c;
   
}
.blink{
   width: 84px; 
   height: 24px;
   top: -0.02px;
   margin-left: 50px;
   color: #33475B;
   
}
.clink{
    width: 85px;
    height: 18px;
    top: 4.05px;
    left: 33px;
    color:#737373;
}
.dlink{
    width: 85px;
    height: 18px;
    top: 4.05px;
    left: 33px;
    margin-left: 40px;
    color:#4285F4;
}
 #blog-banner-section article{
    flex-basis: 50%;
    margin: 1rem; 
} 
 #blog-banner-section aside{
    flex-basis: 50%;
    text-align: center;
} */

.banner-img {
    width: 550px;
    height: 773px;
  }
 /* banner end here */ 


  /* service starts here  */

 #blog-about {
    background-color: #4c4c4c;
  }
  .card-container {
    display: flex;
    align-items: center;
  }
  
  .card {
    flex: 1;
    border-radius: 0.6rem;
    background-color: #f3f0f0;
    padding: 3rem 1rem;
    margin: 2rem;
    /* display: flex;
    flex-direction: column; */
    transition: transform 0.3s;
  }
  .card:hover {
    transform: scale(1.1);
  }
  .card-header {
    font-size: 3rem;
    margin-bottom: 2rem;
    /* text-align: center; */
  }
  .card-description {
    padding: 0.4rem 0;
    text-align: justify;
    font-size: 1.6rem;
    margin-bottom: 5rem;
  }
  .bg{
    background-color: #F2FCFF;
    
  }
.width{
     width: 550px; 
    /* flex-basis: 50%; */
    margin: 1rem; 
}
  .service-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  /* service ends here  */
 /* Complex Questions section starts here  */
 .complex-section{
   font-weight: 700;
   font-size: 48px;
   line-height: 64px;
   letter-spacing: 0.5px;
   color: #2D2F30;
 }
 .text{
     margin-left: 65px; 
 }
 .ptext{
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
 }
 .image{
    width: 420px;
    height: 260px;
    top: 2715px;
    left: 1008px;
    border-bottom-left-radius: 20px;
 }
 #complex-section{
    display: flex;
 }
 /* Complex Questions section ends here  */